.glass {
    background: rgba(181, 128, 209, 0.86);
    opacity: 80%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(181, 128, 209, 0.47);
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}

/* Optional: Ensure overflow works without showing scrollbar */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    overflow-y: scroll;
}